<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :姓名 %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :益博码 %><br>
    <%= f.text_field :YiBoID %>
  </div>
  <div class="field">
    <%= f.label :身份证号 %><br>
    <%= f.text_field :GovID %>
  </div>
  <div class="field">
    <%= f.label :地址 %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :权限 %><br>
    <%= f.number_field :AuthNum %>
  </div>
  <div class="field">
    <%= f.label :密码 %><br>
    <%= f.text_field :password%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
