<%= form_for(:user} do |f| %>
	
  <div class="field">
    <%= f.label :益博ID %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :密码 %></br>
    <%= f.text_field :password%>
  </div>

  <div class="actions">
    <%= f.submit "登陆"%>
  </div>
<% end %>
