<p id="notice"><%= notice %></p>

<p>
  <strong>姓名:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>身份证号:</strong>
  <%= @user.GovID %>
</p>

<p>
  <strong>地址:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>权限:</strong>
  <%= @user.AuthNum %>
</p>

<p>
  <strong>益博码：</strong>
  <%= @user.YiBoID%>
</p>

<p>
  <strong>已借:</strong>
  <% if @user.books %>

    <%= render partial: 'books/book_block', collection: @user.books, as: :book%>
  <% else %>
    <p>None</p>
  <% end %>
</p>

<%= link_to '编辑', edit_user_path(@user) %> |
<%= link_to '返回主页', books_path %>
