<% cache @book do %>
<h3>书目信息</h3>
<ul>
	<li>
		<p><%= image_tag @book.image%></p>
	</li>
	<li>
		<p>标题:<%= @book.title%></p>
	</li>
	<li>
		<p>作者: <%= @book.author%></p>
	</li>

	<li>
		<p>简述：<%= @book.description[0, 100]%></p>
	</li>
	<li>
		<p>ISBN: <%= @book.ISBN %></p>
	</li>
</ul>
<% end %>