<h1>借还</h1>
	<p><%= flash[:notice]%></p>
	<form class="form-horizontal">
		<div >
			<label for='search-YiBoNum'>益博码</label>
			<input type='text' id='search-YiBoNum'value='<%= params[:YiBoNum]%>' name = 'YiBoNum' placeholder='请输入益博码'/>
		</div>
		<br>
		<div>
			<label>用户ID</label>
			<input type='text' value='<%= params[:YiBoID]%>' name = 'YiBoID' placeholder='请输入用户ID'/>
		</div>
		
		<div>
			<input type='submit' name='confirm' value='确认'/>
		</div>
	</form>

	<% if @book %>
		<%= render 'book'%>
	<% end %>

	<% if @user%>
		<%= render :partial => 'users/user'%>
	<% end %>

	<% if @book && @book.user%>
		<p><%= link_to "归还图书", checkingIn_in_path({id: @book.id, YiBoID: @user.YiBoID}) %></p>
	<% elsif @book && @user %>
			 <p><%= link_to "确认借阅", checking_out_path({id: @book.id, YiBoID: @user.YiBoID}), data: {confirm: "#{@user.name}将会借走#{@book.title}"} %></p>
	<% end %>
	<%= link_to "Back", books_path %>
