<h1>Check Out</h1>
<form>
  <legend>用户</legend>
  <div>
    <input type='search' value='<%= params[:keyword] %>' name='YiBoID' placeholder='请输入益博ID'>
  </div>
</form>

<% if @user %>

  <table>
  <thead>
    <tr>
      <th>益博ID</th>
      <th>名字</th>
      <th>身份证号</th>
      <th>住址</th>
      <th>已借阅书籍：</th>
      <th>剩余借阅权限</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @user.YiBoID%></td>
        <td><%= @user.name %></td>
        <td><%= @user.GovID %></td>
        <td><%= @user.address %></td>
        <td><%= @user.books.count%></td>
        <td><%= @user.AuthNum - @user.books.count%></td>
      </tr>
  </tbody>
</table>

<div>
	<% p "Checking out" %>
	<p><%= link_to "确认借阅", checking_out_path({id: params[:id], YiBoID: params[:YiBoID]}), data: {confirm: "#{@user.name}将会借走#{@book.title}"} %></p>
</div>

<% end %>

<p><%= link_to "返回", books_path%></p>