<p id="notice"><%= notice %></p>

<p><%= flash[:danger]%></p>

<h1>书库</h1>

  <div class='row'>
    <div class='col-sm-12'>
      <p>
        <form>
          <legend>用ISBN搜索</legend>
          <div class='col-xs-4'>
            <input type='text' class='form-control' value='<%= params[:isbn] %>' name='isbn' placeholder='ISBN' >
          </div>
        </form>

        <form>
          <legend>搜索书名、作者或简介</legend>
          <div class='col-xs-4'>
            <input type='text' class='form-control' value='<%= params[:keyword] %>' name='keyword' placeholder='书名、作者或简介' >
          </div>
        </form>

        <div>
          <legend>根据图书馆分类</legend>
          <% @locations.each do |location|%>
            <%= link_to location.name, books_path(location_id: location.id)%>
          <% end %>
        </div>
      </p>
    </div>
  </div>

<%= will_paginate %>

<%= render 'book'%>

<%= will_paginate %>

