<% content_for :javascript_includes do %>
  <%= javascript_include_tag "books.js" %>
<% end %>

<p id="notice"><%= notice %></p>

<p><%= flash[:danger]%></p>

<h1 class="header">书库</h1>

  <!-- <div class='row'>
    <div class='col-sm-12'>
      <p>
        <form>
          <legend>用ISBN搜索</legend>
          <div class='col-xs-4'>
            <input type='text' class='form-control' value='<%= params[:isbn] %>' name='isbn' placeholder='ISBN' >
          </div>
        </form>

        <form>
          <legend>搜索书名、作者或简介</legend>
          <div class='col-xs-4'>
            <input type='text' class='form-control' value='<%= params[:keyword] %>' name='keyword' placeholder='书名、作者或简介' >
          </div>
        </form>

        <div>
          <legend>根据图书馆分类</legend>
          <% @locations.each do |location|%>
            <input type="checkbox"><%= location.name %></input>
          <% end %>
        </div>
      </p>
    </div>
  </div> -->

  <div class="search-bar row">
    <div class="col-lg-10 col-lg-offset-1">

      <form class="navbar-form navbar-left" role="search">
        <label class="control-label">搜索：</label>

        <div class="btn-group">
          <button type="button" 
                  class="btn btn-default dropdown-toggle" 
                  data-toggle="dropdown" 
                  date-type="YiBoNum"
                  aria-haspopup="true" 
                  aria-expanded="false">
          益博码 ▼
          </button>

          <ul class="dropdown-menu">
            <li data-type="YiBoNum"><a>益博码</a></li>
            <li data-type="ISBN"><a>ISBN</a></li>
            <li data-type="title"><a>书名</a></li>
            <li data-type="author"><a>作者</a></li>
            <li data-type="description"><a>内容</a></li>
            <li date-type="tags"><a>标签</a></li>
          </ul>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

<div class="col-lg-10 col-lg-offset-1">
  <br>
  <%= render 'books'%>

  <%= will_paginate %>
</div>

