<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @book.image%>
</p>

<p>
  <strong>title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>ISBN:</strong>
  <%= @book.ISBN %>
</p>

<% if @user %>
<p>
  <strong>Owner:</strong>
  <%= link_to @user.name, @user%>
</p>
<% end %>

<%= link_to '借阅历史', book_history_path(@book)%>
<%= link_to '编辑', edit_book_path(@book) %>
<%= link_to '后退', books_path %>
