<!DOCTYPE html>
<html>
<head>
  <title>YiBoLib</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <span>登陆用户：<%= current_user.name %></span> 
  <span><%= link_to "| 注销用户", '/logout', :method => :delete%></span>

  <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">

          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"><a href="/books/new">录入</a></li>
            <li role="presentation"><a href="/books">书库列表</a></li>
            <li role="presentation"><a href="/users">用户列表</a></li>
      	    <li role="presentation"><a href="/checkings/new">借还</a></li>
          </ul>
    

        <div id="loading" class="col-lg-10 col-lg-offset-1">Loading...</div>

        <%= yield %>
        
        </div>
      </div>
    </div>
</body>
</html>
