<!DOCTYPE html>
<html>
<head>
  <title>YiBoLib</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	  <% if current_user %>
  登陆用户：<%= current_user.name %> | <%= link_to "注销用户", '/logout', :method => :delete%>
	  <br>
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="/checking">借还</a></li>
      <li role="presentation"><a href="/books/new">录入</a></li>
      <li role="presentation" class="active"><a href="/books">书库列表</a></li>
      <li role="presentation"><a href="/users">用户列表</a></li>
	   <li role="presentation"><a href="/checkings/new">借还B</a></li>
    </ul>
	  <% end %>

    <div id="loading">Loading...</div>

    <%= yield %>
</body>
</html>
