<!DOCTYPE html>
<html>
<head>
  <title>YiBoLib</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	  <% if current_user %>
  登陆用户：<%= current_user.name %> | <%= link_to "注销用户", '/logout', :method => :delete%>
<% end %>
      <%= yield %>
</body>
</html>
