<!DOCTYPE html>
<html>
<head>
  <title>YiBoLib</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	  <% if current_user %>
  登陆用户：<%= current_user.name %> | <%= link_to "注销用户", '/logout', :method => :delete%>
	  <br>
	  <%= link_to "借还", checking_book_path%>
     <%= link_to "录入", new_book_path(params[:location_id])%>
     <%= link_to "书库列表", books_path%>
	  <%= link_to "用户名单", users_path%>
	  <% end %>

    <div id="loading">Loading...</div>

    <%= yield %>
</body>
</html>
